<connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-QAS21MN\SQLEXPRESS;Initial Catalog=OfferManagement;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="DBEntities" connectionString="metadata=res://*/DBEntities.csdl|res://*/DBEntities.ssdl|res://*/DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-QAS21MN\SQLEXPRESS;Initial Catalog=OfferManagement;Integrated Security=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DBEntitiesReports" connectionString="metadata=res://*/DBEntitiesReports.csdl|res://*/DBEntitiesReports.ssdl|res://*/DBEntitiesReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-QAS21MN\SQLEXPRESS;Initial Catalog=OfferManagement;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>